<table class='table'>
   <% if customer.image.attached? %>
   <tr><%= image_tag customer.image, size:'100x100' %></tr>
  <% else %>
    <tr><%= image_tag 'no_image', size: "100x100" %></tr>
  <% end %>
  <tr>
	  <th>name</th>
	  <th><%= customer.customer_name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= customer.profile %></th>
  </tr>
  <tr>
    <!--

    <th>follows</th>
    <th><!--%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><!%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>

  -->
</table>

<div class='row'>
   <% if current_customer != customer %>
   <td><%= render "relationships/btn", user: user %></td>
  <% else %>
  <%= link_to edit_public_customer_path(customer), class: "btn btn-outline-secondary btn-block edit_user_#{customer.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
   <% end %>
</div>