<h1>新規投稿</h1>
<!-- form_with部分 -->
<%= form_with model:@post, url: public_posts_path, method: :post, local:true do |f| %>
    <div class="row">
      <div class="offset-md-1 col-md-6 mx-auto">
        <table class="table table-borderless mt-3" >
          <tbody>
            <tr>
              <td><%= f.label :画像 %></td>>
              <td><%= f.file_field :image, class: 'form-control-file' %></td>
            </tr>
            <tr>
          
              <td><%= f.label :タイトル %></td>
              <td><%= f.text_field :title, class: 'form-control', placeholder: "タイトル" %></td>
            </tr>
            <tr>
              <td><%= f.label :内容 %></td>
              <td><%= f.text_area :introduction, class: 'form-control', placeholder: "あなたのセッティング、機材等を紹介しよう" %></td>
            </tr>
            <tr>
              <td><%= f.label :ジャンル %></td>
              <td><%= f.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: "--選択して下さい--" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <%= f.submit '　投稿　', class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  <% end %>
</div>