<div class="container mt-5">
  <h1>Favorites List</h1>
  <div class="table-responsive mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Introduction</th>
          <th>Good</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td>
              <% if favorite.post.images.attached? %>
                <img src="<%= url_for(favorite.post.images.first.variant(resize: "100x100")) %>" alt="<%= favorite.post.title %>" class="img-thumbnail">
              <% else %>
                <img src="<%= asset_path('no_image.jpg', resize: "100x100")%>" alt="No image" class="img-thumbnail">
              <% end %>
            </td>
            <td><%= favorite.post.title %></td>
            <td><%= truncate(favorite.post.introduction, length: 20) %></td>
            <td><span class="me-2" style="color: red;"><i class="fas fa-heart"></i><%= favorite.post.favorites.count %> Good</td>
            <td><%= link_to 'View', public_post_path(favorite.post), class: 'btn btn-sm btn-outline-secondary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
